
.ant-table-wrapper
  .ant-table-thead
  > tr
  > th,
.ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  background: #1d3a4c;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :first-child {
  border-start-start-radius: 0px !important;
}

.ant-table-wrapper
  .ant-table-container
  table
  > thead
  > tr:first-child
  > :last-child {
  border-start-end-radius: 0px !important;
}

.ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before,
.ant-table-wrapper
  .ant-table-thead
  > tr
  > td:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  position: absolute;
  top: 50%;
  inset-inline-end: 0;
  width: 1px;
  height: 3.4em;
  background-color: #f0f0f0;
  transform: translateY(-50%);
  transition: background-color 0.2s;
  content: "";
}

.ant-table-wrapper
  .ant-table-pagination.ant-pagination {
  margin: 30px 0 0px 0;
}
.ant-pagination
  .ant-pagination-item-active {
  font-weight: 600;
  background-color: #05253a;
  border-color: #05253a;
}
.ant-pagination
  .ant-pagination-item-active
  a {
  color: #ffffff;
}

tbody.ant-table-tbody tr:nth-child(2n) {
  background-color: #f6f6f6;
}
tbody.ant-table-tbody > tr > td {
  height: 46px;
  font-weight: 400;
  font-size: 0.7rem;
  color: #0a0507;
}
.ant-pagination
  .ant-pagination-item-active:hover
  a {
  color: white;
}
.ant-pagination
  .ant-pagination-item-active:hover {
  border-color: #05253a;
}
.ant-table-wrapper .ant-table {
  border-radius: 0px 0px 0 0;
}
.ant-table-wrapper
  .ant-table-container {
  border-start-start-radius: 0px;
  border-start-end-radius: 0px;
}
.ant-table-wrapper
  .ant-table
  .ant-table-title,
.ant-table-wrapper
  .ant-table
  .ant-table-header {
  border-radius: 0px 0px 0 0;
}
